:root {
  --main-color: #1f2c4d;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Montserrat, sans-serif;
}

main {
  color: var(--main-color);
}

ul {
  list-style: none;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;
  width: 100%;
  height: 3.813rem;
  border-bottom: 1px solid #e5e5e5;

  @media (width > 500px) {
    height: 90px;
  }
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__icon {
  width: 32px;
  height: 32px;
}

.header__text {
  display: none;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0;

  @media (width > 500px) {
    display: inline;
  }
}

.header__search {
  border-right: 1px solid #e5e5e5;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 61px;
  width: 60px;

  @media (width > 500px) {
    height: 90px;
    width: 148px;
  }
}

.header__search-text {
  display: none;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;

  @media (width > 500px) {
    display: inline;
  }
}

.header__cart {
  border-left: 1px solid #e5e5e5;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 61px;
  width: 60px;

  @media (width > 500px) {
    height: 90px;
    width: 135px;
  }
}

.header__cart-text {
  display: none;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;

  @media (width > 500px) {
    display: inline;
  }
}

.main-header {
  margin: 0 auto;
  padding-top: 45px;

  @media (width > 500px) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 66px;
    padding-left: 149px;
    padding-right: 149px;
  }
}

.main-header__title {
  text-align: center;
  margin: 0;
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 34px;
  letter-spacing: 0px;
  padding-bottom: 45px;
}

@media (width > 500px) {
  .main-header__title {
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 40px;
    letter-spacing: 0px;
  }
}

.main-header__filters {
  display: flex;
  justify-content: flex-start;
  margin: 0 auto;
  max-width: 100%;
  gap: 15px;
  padding-left: 21.5px;
}

.main-header__filter {
  font-family: inherit;
  background: none;
  font-size: 1.125rem;
  font-weight: 700;
  color: rgba(107, 121, 153, 1);
  cursor: pointer;
  border: 2px solid transparent;
  padding: 0;
}

.main-header__filter--active:active {
  color: rgba(31, 44, 77, 1);
  border-bottom: 2px solid rgba(207, 30, 31, 1);
}

.records {
  display: grid;
  gap: 10px;
  justify-content: center;
  margin-bottom: 45px;

  @media (width > 500px) {
    gap: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    margin-bottom: 112px;
    margin-top: 0;
  }
}

.record {
  border: 1px solid #e5e5e5;
  max-width: 100%;
  border-radius: 8px;
}

.record-cover {
  width: 100%;
  object-fit: contain;
  border-radius: inherit;
}

.record-info {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 16px;
  color: rgba(31, 44, 77, 1);
}

.record-name {
  font-size: 1.125rem;
  font-weight: 600;
  align-items: center;
  margin: 0;
}

.record-type {
  color: rgba(9, 178, 114, 1);
  font-size: 0.875rem;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: rgba(231, 248, 241, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 105px;
  height: 30px;
  margin-top: 13px;
  border-radius: 4px;
  position: relative;
}

.record-discount {
  color: rgba(207, 30, 31, 1);
  font-size: 0.875rem;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: rgba(251, 233, 233, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 114px;
  height: 30px;
  border-radius: 4px;
  position: absolute;
  margin-left: 16px;
  margin-top: 16px;
}

.record-prices {
  display: flex;
  flex-direction: column;
}

.price {
  color: #cf1e1f;
  font-size: 1.125rem;
  font-weight: 700;
}

.price-original {
  color: #6b7999;
  text-decoration: line-through;
}

.record-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.record-actions {
  display: flex;
  justify-content: space-around;
  height: 24px;
  width: 115px;
}

.record-button {
  background: none;
  border: none;
  padding: 0;
}

.buy-button {
  font-family: inherit;
  color: var(--main-color);
  background: none;
  border: none;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 600;
  padding: 0;
}

@media (width > 500px) {
  .container-header {
    height: 90px;

    h1 {
      display: inline;
    }
  }
}

@media (width > 500px) {
  .sidebar {
    display: block;
  }

  .record-of-the-month {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-left: 47px;
    width: 359px;
  }

  .record-of-the-month__title {
    color: rgba(31, 44, 77, 1);
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0;
  }

  .record-of-the-month__cover {
    border-radius: 5px;
    width: auto;
  }

  div.record-of-the-month__info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
  }

  .record-of-the-month__name {
    padding-right: 16px;
    color: rgba(31, 44, 77, 1);
    font-size: 1.25rem;
    letter-spacing: 0px;
    font-weight: 600;
    width: 163px;
    text-align: end;
  }

  .record-of-the-month__price {
    color: rgba(31, 44, 77, 1);
    font-size: 1.25rem;
    letter-spacing: 0px;
    font-weight: 700;
  }

  .record-actions__sidebar {
    display: flex;
    justify-content: space-around;
    height: 24px;
    width: 115px;
    border: none;
    margin: 0;
  }

  .record-of-the-month__card {
    display: flex;
  }

  .container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0 149px;
  }
}
